
                                                    input:not([type='checkbox']):not([type='radio']), textarea, select {
                                                        font-family: "Raleway", Arial, sans-serif;
                                                    }

input:not([type='checkbox']):not([type='radio']):not([type='submit']):focus, textarea:not([type='checkbox']):not([type='radio']):focus {
    -webkit-box-shadow: 0 0 4px 0 #B73D25;
    box-shadow: 0 0 4px 0 #B73D25;
}

html a:hover, .btLightSkin a:hover, .btDarkSkin .btLightSkin a:hover, .btLightSkin .btDarkSkin .btLightSkin a:hover, .btDarkSkin a:hover, .btLightSkin .btDarkSkin a:hover, .btDarkSkin.btLightSkin .btDarkSkin a:hover {
    color: #B73D25;
}

select, input {
    font-family: 'Lato', sans-serif;
}

body {
    font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
}

.btContentHolder table thead th {
    background-color: #B73D25;
    font-family: 'Lato', sans-serif;
}

.btAccentColorBackground {
    background-color: #B73D25 !important;
}

.btAccentColorBackground .headline b.animate.animated {
    color: #FF7F00;
}

.btAccentColorBackground .btDash.bottomDash .dash:after {
    border-color: #FF7F00;
}

.btAccentDarkColorBackground {
    background-color: #1692a4 !important;
}

.btAccentDarkColorBackground .headline b.animate.animated {
    color: #FF7F00;
}

.btAccentVeryDarkColorBackground {
    background-color: #0a424a !important;
}

.btAccentLightColorBackground {
    background-color: rgba(36, 202, 226, 0.7) !important;
}

.btAlternateColorBackground {
    background-color: #FF7F00 !important;
}

.btAlternateDarkColorBackground {
    background-color: #b35900 !important;
}

.btAlternateVeryDarkColorBackground {
    background-color: #804000 !important;
}

.btAlternateLightColorBackground {
    background-color: rgba(255, 127, 0, 0.6) !important;
}

.btLightSkin .btText a, .btDarkSkin .btLightSkin .btText a, .btLightSkin .btDarkSkin .btLightSkin .btText a, .btDarkSkin .btText a, .btLightSkin .btDarkSkin .btText a, .btDarkSkin.btLightSkin .btDarkSkin .btText a {
    color: #B73D25;
}

.btAccentDarkHeader .btPreloader .animation > div:first-child {
    background-color: #1692a4;
}

.btPreloader .animation .preloaderLogo {
    height: 50px;
}

.mainHeader {
    font-family: 'Lato', sans-serif;
}

.btMenuVertical.btAccentDarkHeader .mainHeader {
    background-color: #1692a4;
}

.menuPort {
    font-family: 'Lato', sans-serif;
}

.menuPort nav ul li a:hover {
    color: #B73D25 !important;
}

.menuPort nav > ul > li > a {
    line-height: 50px;
}

.btTextLogo {
    line-height: 50px;
}

.btLogoArea .logo img {
    height: 50px;
}

.btHorizontalMenuTrigger {
    line-height: 50px;
}

.btMenuHorizontal .menuPort nav > ul > li > ul li.current-menu-ancestor > a, .btMenuHorizontal .menuPort nav > ul > li > ul li.current-menu-item > a {
    color: #B73D25 !important;
}

body.btMenuHorizontal .subToggler {
    line-height: 50px;
}

.btMenuHorizontal .topBarInMenu {
    height: 50px;
}

.btLightSkin.btAccentLightHeader.btMenuHorizontal .btBelowLogoArea .btIco.btIcoDefaultType.btIcoAccentColor .btIcoHolder:hover:before, .btDarkSkin.btAccentLightHeader.btMenuHorizontal .btBelowLogoArea .btIco.btIcoDefaultType.btIcoAccentColor .btIcoHolder:hover:before, .btLightSkin.btAccentLightHeader.btMenuHorizontal .topBar .btIco.btIcoDefaultType.btIcoAccentColor .btIcoHolder:hover:before, .btDarkSkin.btAccentLightHeader.btMenuHorizontal .topBar .btIco.btIcoDefaultType.btIcoAccentColor .btIcoHolder:hover:before {
    color: #FF7F00;
}

.btLightSkin.btAccentLightHeader.btMenuHorizontal .btBelowLogoArea .btIco.btIcoDefaultType.btIcoDefaultColor .btIcoHolder:hover:before, .btDarkSkin.btAccentLightHeader.btMenuHorizontal .btBelowLogoArea .btIco.btIcoDefaultType.btIcoDefaultColor .btIcoHolder:hover:before, .btLightSkin.btAccentLightHeader.btMenuHorizontal .topBar .btIco.btIcoDefaultType.btIcoDefaultColor .btIcoHolder:hover:before, .btDarkSkin.btAccentLightHeader.btMenuHorizontal .topBar .btIco.btIcoDefaultType.btIcoDefaultColor .btIcoHolder:hover:before {
    color: #FF7F00;
}

.btLightSkin.btAccentLightHeader.btMenuHorizontal .btBelowLogoArea .menuPort > nav > ul > li > a:hover, .btDarkSkin.btAccentLightHeader.btMenuHorizontal .btBelowLogoArea .menuPort > nav > ul > li > a:hover, .btLightSkin.btAccentLightHeader.btMenuHorizontal .topBar .menuPort > nav > ul > li > a:hover, .btDarkSkin.btAccentLightHeader.btMenuHorizontal .topBar .menuPort > nav > ul > li > a:hover {
    color: #FF7F00 !important;
}

.btAccentLightHeader.btMenuHorizontal:not(.btBelowMenu) .btBelowLogoArea, .btAccentLightHeader.btMenuHorizontal:not(.btBelowMenu) .topBar, .btAccentLightHeader.btMenuHorizontal.btStickyHeaderActive .btBelowLogoArea, .btAccentLightHeader.btMenuHorizontal.btStickyHeaderActive .topBar {
    background-color: #1692a4;
}

.btAccentLightHeader.btMenuHorizontal:not(.btBelowMenu) .btBelowLogoArea:before, .btAccentLightHeader.btMenuHorizontal:not(.btBelowMenu) .topBar:before, .btAccentLightHeader.btMenuHorizontal.btStickyHeaderActive .btBelowLogoArea:before, .btAccentLightHeader.btMenuHorizontal.btStickyHeaderActive .topBar:before {
    background-color: #1692a4;
}

.btAccentLightHeader.btMenuHorizontal.btBelowMenu:not(.btStickyHeaderActive) .mainHeader .btBelowLogoArea, .btAccentLightHeader.btMenuHorizontal.btBelowMenu:not(.btStickyHeaderActive) .mainHeader .topBar {
    background-color: #1692a4;
}

.btLightSkin.btAccentDarkHeader.btMenuHorizontal .mainHeader .btIco.btIcoDefaultType.btIcoAccentColor .btIcoHolder:before, .btDarkSkin.btAccentDarkHeader.btMenuHorizontal .mainHeader .btIco.btIcoDefaultType.btIcoAccentColor .btIcoHolder:before {
    color: #FF7F00;
}

.btLightSkin.btAccentDarkHeader.btMenuHorizontal .mainHeader .btIco.btIcoDefaultType .btIcoHolder:hover:before, .btDarkSkin.btAccentDarkHeader.btMenuHorizontal .mainHeader .btIco.btIcoDefaultType .btIcoHolder:hover:before {
    color: #FF7F00;
}

.btLightSkin.btAccentDarkHeader.btMenuHorizontal .mainHeader .menuPort > nav > ul > li > a:hover, .btDarkSkin.btAccentDarkHeader.btMenuHorizontal .mainHeader .menuPort > nav > ul > li > a:hover {
    color: #FF7F00 !important;
}

.btAccentDarkHeader.btMenuHorizontal:not(.btBelowMenu) .mainHeader, .btAccentDarkHeader.btMenuHorizontal.btStickyHeaderActive .mainHeader {
    background-color: #1692a4;
}

.btAccentDarkHeader.btMenuHorizontal:not(.btBelowMenu) .mainHeader .btBelowLogoArea, .btAccentDarkHeader.btMenuHorizontal:not(.btBelowMenu) .mainHeader .topBar, .btAccentDarkHeader.btMenuHorizontal.btStickyHeaderActive .mainHeader .btBelowLogoArea, .btAccentDarkHeader.btMenuHorizontal.btStickyHeaderActive .mainHeader .topBar {
    background-color: #0a424a;
}

.btAccentDarkHeader.btMenuHorizontal:not(.btBelowMenu) .mainHeader .btBelowLogoArea:before, .btAccentDarkHeader.btMenuHorizontal:not(.btBelowMenu) .mainHeader .topBar:before, .btAccentDarkHeader.btMenuHorizontal.btStickyHeaderActive .mainHeader .btBelowLogoArea:before, .btAccentDarkHeader.btMenuHorizontal.btStickyHeaderActive .mainHeader .topBar:before {
    background-color: #0a424a;
}

.btAccentDarkHeader.btMenuHorizontal.btBelowMenu .mainHeader .port .btLogoArea {
    background-color: #1692a4;
}

.btAccentDarkHeader.btMenuHorizontal.btBelowMenu .mainHeader .port .btBelowLogoArea, .btAccentDarkHeader.btMenuHorizontal.btBelowMenu .mainHeader .port .topBar {
    background-color: #0a424a;
}

.btVerticalMenuTrigger {
    line-height: 50px;
}

.btAccentDarkHeader.btMenuVertical > .menuPort .logo {
    background-color: #1692a4;
}

.btMenuVertical > .menuPort .btCloseVertical:before:hover {
    color: #B73D25;
}

@media (min-width: 1400px) {
    .btMenuVerticalOn .btVerticalMenuTrigger .btIco a:before {
        color: #B73D25 !important;
    }
}

a.btIconWidget:hover {
    color: #B73D25 !important;
}

.btSpecialHeaderIcon .btIco .btIcoHolder:before, .btSpecialHeaderIcon .btIconWidgetTitle, .btSpecialHeaderIcon .btIconWidgetText {
    color: #B73D25 !important;
}

.btMenuHorizontal .topBarInLogoArea {
    height: 50px;
}

.btMenuHorizontal .topBarInLogoArea .topBarInLogoAreaCell {
    border: 0 solid #B73D25;
}

.topBar .widget_search button, .topBarInMenu .widget_search button {
    background: #B73D25;
}

.topBar .widget_search button:before, .topBarInMenu .widget_search button:before {
    color: #B73D25;
}

.topBar .widget_search button:hover, .topBarInMenu .widget_search button:hover {
    background: #1692a4;
}

.btSearchInner.btFromTopBox {
    background: #1692a4;
}

.btSearchInner.btFromTopBox form button:hover:before {
    color: #B73D25;
}

.btDarkSkin .btSiteFooter .port:before, .btLightSkin .btDarkSkin .btSiteFooter .port:before, .btDarkSkin.btLightSkin .btDarkSkin .btSiteFooter .port:before {
    background-color: #B73D25;
}

.btMediaBox.btQuote, .btMediaBox.btLink {
    background-color: #B73D25;
}

.btArticleListItem .headline a:hover {
    color: #B73D25;
}

.btArticleListItem.btBlogColumnView .btArticleListBodyAuthor a, .btPostSingleItemColumns .btArticleListBodyAuthor a {
    color: #B73D25 !important;
}

.btCommentsBox .commentTxt p.edit-link, .btCommentsBox .commentTxt p.reply {
    font-family: 'Lato', sans-serif;
}

.btCommentsBox .commentTxt p.edit-link a:hover, .btCommentsBox .commentTxt p.reply a:hover {
    color: #B73D25;
}

.post-password-form input[type="submit"] {
    background: #B73D25;
    font-family: 'Lato', sans-serif;
}

.btPagination {
    font-family: 'Lato', sans-serif;
}

.btPagination .paging a:hover:after {
    border-color: #B73D25;
}

.comment-respond .btnOutline button[type="submit"] {
    font-family: 'Lato', sans-serif;
}

a#cancel-comment-reply-link:hover {
    color: #B73D25;
}

span.btHighlight {
    background-color: #B73D25;
}

.header .btSubTitle .btArticleCategories a:not(:first-child):before, .header .btSuperTitle .btArticleCategories a:not(:first-child):before {
    background-color: #B73D25;
}

.btArticleMeta {
    font-family: 'Lato', sans-serif;
}

body:not(.btNoDashInSidebar) .btBox > h4:after, body:not(.btNoDashInSidebar) .btCustomMenu > h4:after, body:not(.btNoDashInSidebar) .btTopBox > h4:after, body:not(.btNoDashInSidebar) .btSiteFooterWidgets > h4:after {
    border-bottom: 3px solid #B73D25;
}

.btBox .ppTxt .header .headline a a:hover, .btCustomMenu .ppTxt .header .headline a a:hover, .btTopBox .ppTxt .header .headline a a:hover, .btSiteFooterWidgets .ppTxt .header .headline a a:hover {
    color: #B73D25;
}

.btBox p.posted, .btBox .quantity, .btCustomMenu p.posted, .btCustomMenu .quantity, .btTopBox p.posted, .btTopBox .quantity, .btSiteFooterWidgets p.posted, .btSiteFooterWidgets .quantity {
    font-family: 'Lato', sans-serif;
}

.widget_calendar table caption {
    background: #B73D25;
    font-family: 'Lato', sans-serif;
}

.widget_rss li a.rsswidget {
    font-family: 'Lato', sans-serif;
}

.btBox .btSearch button:hover, form.woocommerce-product-search button:hover {
    background: #B73D25 !important;
    border-color: #B73D25 !important;
}

.fancy-select .trigger.open {
    color: #B73D25;
}

.fancy-select ul.options li:hover {
    color: #B73D25;
}

.widget_shopping_cart .total {
    font-family: 'Lato', sans-serif;
}

.widget_shopping_cart .widget_shopping_cart_content .mini_cart_item .ppRemove a.remove {
    background-color: #B73D25;
}

.widget_shopping_cart .widget_shopping_cart_content .mini_cart_item .ppRemove a.remove:before:hover {
    background-color: #FF7F00;
}

.menuPort .widget_shopping_cart .widget_shopping_cart_content .btCartWidgetIcon span.cart-contents, .topTools .widget_shopping_cart .widget_shopping_cart_content .btCartWidgetIcon span.cart-contents, .topBarInLogoArea .widget_shopping_cart .widget_shopping_cart_content .btCartWidgetIcon span.cart-contents {
    background-color: #FF7F00;
    font: normal 10px/1 Montserrat;
}

.btMenuVertical .menuPort .widget_shopping_cart .widget_shopping_cart_content .btCartWidgetInnerContent .verticalMenuCartToggler, .btMenuVertical .topTools .widget_shopping_cart .widget_shopping_cart_content .btCartWidgetInnerContent .verticalMenuCartToggler, .btMenuVertical .topBarInLogoArea .widget_shopping_cart .widget_shopping_cart_content .btCartWidgetInnerContent .verticalMenuCartToggler {
    background-color: #B73D25;
}

.widget_recent_reviews {
    font-family: 'Lato', sans-serif;
}

.widget_price_filter .price_slider_wrapper .ui-slider .ui-slider-handle {
    background-color: #B73D25;
}

.btBox .tagcloud a, .btTags ul a {
    background: #B73D25;
    font-family: 'Lato', sans-serif;
}

.btIco {
    font-family: 'Lato', sans-serif;
}

.btIco.btIcoFilledType.btIcoAccentColor .btIcoHolder:before, .btIco.btIcoOutlineType.btIcoAccentColor:hover .btIcoHolder:before {
    -webkit-box-shadow: 0 0 0 1em #B73D25 inset;
    box-shadow: 0 0 0 1em #B73D25 inset;
}

.btIco.btIcoFilledType.btIcoAccentColor:hover .btIcoHolder:before, .btIco.btIcoOutlineType.btIcoAccentColor .btIcoHolder:before {
    -webkit-box-shadow: 0 0 0 1px #B73D25 inset;
    box-shadow: 0 0 0 1px #B73D25 inset;
    color: #B73D25;
}

.btIco.btIcoFilledType.btIcoAlternateColor .btIcoHolder:before, .btIco.btIcoOutlineType.btIcoAlternateColor:hover .btIcoHolder:before {
    -webkit-box-shadow: 0 0 0 1em #FF7F00 inset;
    box-shadow: 0 0 0 1em #FF7F00 inset;
}

.btIco.btIcoFilledType.btIcoAlternateColor:hover .btIcoHolder:before, .btIco.btIcoOutlineType.btIcoAlternateColor .btIcoHolder:before {
    -webkit-box-shadow: 0 0 0 1px #FF7F00 inset;
    box-shadow: 0 0 0 1px #FF7F00 inset;
    color: #FF7F00;
}

.btLightSkin .btIco.btIcoDefaultType.btIcoAccentColor .btIcoHolder:before, .btLightSkin .btIco.btIcoDefaultType.btIcoDefaultColor:hover .btIcoHolder:before, .btDarkSkin .btLightSkin .btIco.btIcoDefaultType.btIcoAccentColor .btIcoHolder:before, .btDarkSkin .btLightSkin .btIco.btIcoDefaultType.btIcoDefaultColor:hover .btIcoHolder:before, .btLightSkin .btDarkSkin .btLightSkin .btIco.btIcoDefaultType.btIcoAccentColor .btIcoHolder:before, .btLightSkin .btDarkSkin .btLightSkin .btIco.btIcoDefaultType.btIcoDefaultColor:hover .btIcoHolder:before, .btDarkSkin .btIco.btIcoDefaultType.btIcoAccentColor .btIcoHolder:before, .btDarkSkin .btIco.btIcoDefaultType.btIcoDefaultColor:hover .btIcoHolder:before, .btLightSkin .btDarkSkin .btIco.btIcoDefaultType.btIcoAccentColor .btIcoHolder:before, .btLightSkin .btDarkSkin .btIco.btIcoDefaultType.btIcoDefaultColor:hover .btIcoHolder:before, .btDarkSkin.btLightSkin .btDarkSkin .btIco.btIcoDefaultType.btIcoAccentColor .btIcoHolder:before, .btDarkSkin.btLightSkin .btDarkSkin .btIco.btIcoDefaultType.btIcoDefaultColor:hover .btIcoHolder:before {
    color: #B73D25;
}

.btLightSkin .btIco.btIcoDefaultType.btIcoAlternateColor .btIcoHolder:before, .btDarkSkin .btLightSkin .btIco.btIcoDefaultType.btIcoAlternateColor .btIcoHolder:before, .btLightSkin .btDarkSkin .btLightSkin .btIco.btIcoDefaultType.btIcoAlternateColor .btIcoHolder:before, .btDarkSkin .btIco.btIcoDefaultType.btIcoAlternateColor .btIcoHolder:before, .btLightSkin .btDarkSkin .btIco.btIcoDefaultType.btIcoAlternateColor .btIcoHolder:before, .btDarkSkin.btLightSkin .btDarkSkin .btIco.btIcoDefaultType.btIcoAlternateColor .btIcoHolder:before {
    color: #FF7F00;
}

.btIcoAccentColor span {
    color: #B73D25;
}

.btIcoAlternateColor span {
    color: #FF7F00;
}

.btIcoDefaultColor:hover span {
    color: #B73D25;
}

.btBtn {
    font-family: 'Lato', sans-serif;
}

.btBtn.btnOutlineStyle.btnAccentColor.btnIco.btnRightPosition .btIco {
    border-left: 1px solid #B73D25;
}

.btBtn.btnOutlineStyle.btnAlternateColor.btnIco.btnRightPosition .btIco {
    border-left: 1px solid #FF7F00;
}

.btBtn.btnOutlineStyle.btnAccentColor.btnIco.btnLeftPosition .btIco {
    border-right: 1px solid #B73D25;
}

.btBtn.btnOutlineStyle.btnAlternateColor.btnIco.btnLeftPosition .btIco {
    border-right: 1px solid #FF7F00;
}

.btnFilledStyle.btnAccentColor, .btnOutlineStyle.btnAccentColor:hover {
    background-color: #B73D25;
    border: 1px solid #B73D25;
}

.btnOutlineStyle.btnAccentColor, .btnFilledStyle.btnAccentColor:hover {
    border: 1px solid #B73D25;
    color: #B73D25;
}

.btnOutlineStyle.btnAccentColor span, .btnFilledStyle.btnAccentColor:hover span, .btnOutlineStyle.btnAccentColor span:before, .btnFilledStyle.btnAccentColor:hover span:before, .btnOutlineStyle.btnAccentColor a, .btnFilledStyle.btnAccentColor:hover a, .btnOutlineStyle.btnAccentColor .btIco a:before, .btnFilledStyle.btnAccentColor:hover .btIco a:before, .btnOutlineStyle.btnAccentColor button, .btnFilledStyle.btnAccentColor:hover button {
    color: #B73D25 !important;
}

.btnBorderlessStyle.btnAccentColor span, .btnBorderlessStyle.btnNormalColor:hover span, .btnBorderlessStyle.btnAccentColor span:before, .btnBorderlessStyle.btnNormalColor:hover span:before, .btnBorderlessStyle.btnAccentColor a, .btnBorderlessStyle.btnNormalColor:hover a, .btnBorderlessStyle.btnAccentColor .btIco a:before, .btnBorderlessStyle.btnNormalColor:hover .btIco a:before, .btnBorderlessStyle.btnAccentColor button, .btnBorderlessStyle.btnNormalColor:hover button {
    color: #B73D25;
}

.btnFilledStyle.btnAlternateColor, .btnOutlineStyle.btnAlternateColor:hover {
    background-color: #FF7F00;
    border: 1px solid #FF7F00;
}

.btnOutlineStyle.btnAlternateColor, .btnFilledStyle.btnAlternateColor:hover {
    border: 1px solid #FF7F00;
    color: #FF7F00;
}

.btnOutlineStyle.btnAlternateColor span, .btnFilledStyle.btnAlternateColor:hover span, .btnOutlineStyle.btnAlternateColor span:before, .btnFilledStyle.btnAlternateColor:hover span:before, .btnOutlineStyle.btnAlternateColor a, .btnFilledStyle.btnAlternateColor:hover a, .btnOutlineStyle.btnAlternateColor .btIco a:before, .btnFilledStyle.btnAlternateColor:hover .btIco a:before, .btnOutlineStyle.btnAlternateColor button, .btnFilledStyle.btnAlternateColor:hover button {
    color: #FF7F00 !important;
}

.btnBorderlessStyle.btnAlternateColor span, .btnBorderlessStyle.btnAlternateColor span:before, .btnBorderlessStyle.btnAlternateColor a, .btnBorderlessStyle.btnAlternateColor .btIco a:before, .btnBorderlessStyle.btnAlternateColor button {
    color: #FF7F00;
}

.btCounterHolder {
    font-family: 'Lato', sans-serif;
}

.btCounterHolder .btCountdownHolder .days_text, .btCounterHolder .btCountdownHolder .hours_text, .btCounterHolder .btCountdownHolder .minutes_text, .btCounterHolder .btCountdownHolder .seconds_text {
    font-family: 'Lato', sans-serif;
    color: #B73D25;
}

.btProgressContent {
    font-family: 'Lato', sans-serif;
}

.btProgressContent .btProgressAnim {
    background-color: #B73D25;
}

.btPriceTable .btPriceTableHeader {
    background: #B73D25;
}

.btPriceTableSticker {
    font-family: 'Lato', sans-serif;
}

.header .btSuperTitle {
    font-family: 'Lato', sans-serif;
}

.header .btSubTitle {
    font-family: 'Lato', sans-serif;
}

.btDash.bottomDash .dash:after {
    border-bottom: 4px solid #B73D25;
}

.btNoMore {
    font-family: 'Lato', sans-serif;
}

.btGridContent .header .btSuperTitle a:hover {
    color: #B73D25;
}

.btCatFilter {
    font-family: 'Lato', sans-serif;
}

.btCatFilter .btCatFilterItem:hover {
    color: #B73D25;
}

.btCatFilter .btCatFilterItem.active {
    color: #B73D25;
}

h4.nbs a .nbsItem .nbsDir {
    font-family: 'Lato', sans-serif;
}

.btInfoBar .btInfoBarMeta p strong {
    color: #B73D25;
}

.recentTweets small:before {
    color: #B73D25;
}

.tabsHeader li {
    font-family: 'Lato', sans-serif;
}

.tabsVertical .tabAccordionTitle {
    font-family: 'Lato', sans-serif;
}

.btVisualizer {
    font-family: 'Lato', sans-serif;
}

form.wpcf7-form .wpcf7-submit {
    background-color: #B73D25;
}

.btAnimNav li.btAnimNavDot {
    font-family: 'Lato', sans-serif;
}

.btAnimNav li.btAnimNavNext:hover, .btAnimNav li.btAnimNavPrev:hover {
    border-color: #B73D25;
    color: #B73D25;
}

.headline b.animate.animated {
    color: #B73D25;
}

.headline em.animate {
    font-family: 'Lato', sans-serif;
}

p.demo_store {
    background-color: #B73D25;
}


{
    color: #B73D25
;
}
.woocommerce .woocommerce-message:before, .woocommerce .woocommerce-info:before, .woocommerce-page .woocommerce-message:before, .woocommerce-page .woocommerce-info:before {
    color: #B73D25;
}

.woocommerce a.button, .woocommerce input[type="submit"], .woocommerce button[type="submit"], .woocommerce input.button, .woocommerce input.alt:hover, .woocommerce a.button.alt:hover, .woocommerce .button.alt:hover, .woocommerce button.alt:hover, .woocommerce-page a.button, .woocommerce-page input[type="submit"], .woocommerce-page button[type="submit"], .woocommerce-page input.button, .woocommerce-page input.alt:hover, .woocommerce-page a.button.alt:hover, .woocommerce-page .button.alt:hover, .woocommerce-page button.alt:hover {
    font-family: 'Lato', sans-serif;
}

.woocommerce a.button:hover, .woocommerce input[type="submit"]:hover, .woocommerce .button:hover, .woocommerce button:hover, .woocommerce input.alt, .woocommerce a.button.alt, .woocommerce .button.alt, .woocommerce button.alt, .woocommerce-page a.button:hover, .woocommerce-page input[type="submit"]:hover, .woocommerce-page .button:hover, .woocommerce-page button:hover, .woocommerce-page input.alt, .woocommerce-page a.button.alt, .woocommerce-page .button.alt, .woocommerce-page button.alt {
    font-family: 'Lato', sans-serif;
}

.woocommerce p.lost_password:before, .woocommerce-page p.lost_password:before {
    color: #B73D25;
}

.woocommerce form.login p.lost_password a:hover, .woocommerce-page form.login p.lost_password a:hover {
    color: #B73D25;
}

.woocommerce .added:after, .woocommerce .loading:after, .woocommerce-page .added:after, .woocommerce-page .loading:after {
    background-color: #B73D25;
}

.woocommerce div.product p.price, .woocommerce div.product span.price, .woocommerce-page div.product p.price, .woocommerce-page div.product span.price {
    font-family: 'Lato', sans-serif;
    color: #B73D25;
}

.woocommerce div.product .stock, .woocommerce-page div.product .stock {
    color: #B73D25;
}

.woocommerce div.product a.reset_variations:hover, .woocommerce-page div.product a.reset_variations:hover {
    color: #B73D25;
}

.woocommerce .added_to_cart, .woocommerce-page .added_to_cart {
    font-family: 'Lato', sans-serif;
}

.woocommerce .products ul li.product .btPriceTableSticker, .woocommerce ul.products li.product .btPriceTableSticker, .woocommerce-page .products ul li.product .btPriceTableSticker, .woocommerce-page ul.products li.product .btPriceTableSticker {
    background: #B73D25;
}

.woocommerce .products ul li.product .price, .woocommerce ul.products li.product .price, .woocommerce-page .products ul li.product .price, .woocommerce-page ul.products li.product .price {
    font-family: 'Lato', sans-serif;
}

.woocommerce nav.woocommerce-pagination, .woocommerce-page nav.woocommerce-pagination {
    font-family: 'Lato', sans-serif;
}

.woocommerce nav.woocommerce-pagination ul li a:focus, .woocommerce nav.woocommerce-pagination ul li a:hover, .woocommerce nav.woocommerce-pagination ul li a.next, .woocommerce nav.woocommerce-pagination ul li a.prev, .woocommerce nav.woocommerce-pagination ul li span.current, .woocommerce-page nav.woocommerce-pagination ul li a:focus, .woocommerce-page nav.woocommerce-pagination ul li a:hover, .woocommerce-page nav.woocommerce-pagination ul li a.next, .woocommerce-page nav.woocommerce-pagination ul li a.prev, .woocommerce-page nav.woocommerce-pagination ul li span.current {
    background: #B73D25;
}

.woocommerce .star-rating span:before, .woocommerce-page .star-rating span:before {
    color: #B73D25;
}

.woocommerce p.stars a[class^="star-"].active:after, .woocommerce p.stars a[class^="star-"]:hover:after, .woocommerce-page p.stars a[class^="star-"].active:after, .woocommerce-page p.stars a[class^="star-"]:hover:after {
    color: #B73D25;
}

.woocommerce-cart table.cart td.product-remove a.remove {
    color: #B73D25;
    border: 1px solid #B73D25;
}

.woocommerce-cart table.cart td.product-remove a.remove:hover {
    background-color: #B73D25;
}

.woocommerce-cart .cart_totals .discount td {
    color: #B73D25;
}

.woocommerce-account header.title .edit {
    color: #B73D25;
}

.woocommerce-account header.title .edit:before {
    color: #B73D25;
}

.btLightSkin.woocommerce-page .product .headline a:hover, .btDarkSkin .btLightSkin.woocommerce-page .product .headline a:hover, .btLightSkin .btDarkSkin .btLightSkin.woocommerce-page .product .headline a:hover, .btDarkSkin.woocommerce-page .product .headline a:hover, .btLightSkin .btDarkSkin.woocommerce-page .product .headline a:hover, .btDarkSkin.btLightSkin .btDarkSkin.woocommerce-page .product .headline a:hover {
    color: #B73D25;
}

.btQuoteBooking .btTotalNextWrapper {
    font-family: 'Lato', sans-serif;
}

.btQuoteBooking .btContactNext {
    border: #B73D25 2px solid;
    color: #B73D25;
}

.btQuoteBooking .btContactNext:hover, .btQuoteBooking .btContactNext:active {
    background-color: #B73D25 !important;
}

.btQuoteBooking .btQuoteSwitch:hover {
    -webkit-box-shadow: 0 0 0 #B73D25 inset, 0 1px 5px rgba(0, 0, 0, .2);
    box-shadow: 0 0 0 #B73D25 inset, 0 1px 5px rgba(0, 0, 0, .2);
}

.btQuoteBooking .btQuoteSwitch.on .btQuoteSwitchInner {
    background: #B73D25;
}

.btQuoteBooking .dd.ddcommon.borderRadiusTp .ddTitleText, .btQuoteBooking .dd.ddcommon.borderRadiusBtm .ddTitleText {
    -webkit-box-shadow: 5px 0 0 #B73D25 inset, 0 2px 10px rgba(0, 0, 0, .2);
    box-shadow: 5px 0 0 #B73D25 inset, 0 2px 10px rgba(0, 0, 0, .2);
}

.btQuoteBooking .ui-slider .ui-slider-handle {
    background: #B73D25;
}

.btQuoteBooking .btQuoteBookingForm .btQuoteTotal {
    background: #B73D25;
}

.btQuoteBooking .btContactFieldMandatory.btContactFieldError input, .btQuoteBooking .btContactFieldMandatory.btContactFieldError textarea {
    border: 1px solid #B73D25;
    -webkit-box-shadow: 0 0 0 1px #B73D25 inset;
    box-shadow: 0 0 0 1px #B73D25 inset;
}

.btQuoteBooking .btContactFieldMandatory.btContactFieldError .dd.ddcommon.borderRadius .ddTitleText {
    border: 1px solid #B73D25;
    -webkit-box-shadow: 0 0 0 1px #B73D25 inset;
    box-shadow: 0 0 0 1px #B73D25 inset;
}

.btQuoteBooking .btContactFieldMandatory.btContactFieldError input:hover, .btQuoteBooking .btContactFieldMandatory.btContactFieldError textarea:hover {
    -webkit-box-shadow: 0 0 0 1px #B73D25 inset, 0 0 0 #B73D25 inset, 0 1px 5px rgba(0, 0, 0, .2);
    box-shadow: 0 0 0 1px #B73D25 inset, 0 0 0 #B73D25 inset, 0 1px 5px rgba(0, 0, 0, .2);
}

.btQuoteBooking .btContactFieldMandatory.btContactFieldError .dd.ddcommon.borderRadius:hover .ddTitleText {
    -webkit-box-shadow: 0 0 0 1px #B73D25 inset, 0 0 0 #B73D25 inset, 0 1px 5px rgba(0, 0, 0, .2);
    box-shadow: 0 0 0 1px #B73D25 inset, 0 0 0 #B73D25 inset, 0 1px 5px rgba(0, 0, 0, .2);
}

.btQuoteBooking .btContactFieldMandatory.btContactFieldError input:focus, .btQuoteBooking .btContactFieldMandatory.btContactFieldError textarea:focus {
    -webkit-box-shadow: 0 0 0 1px #B73D25 inset, 5px 0 0 #B73D25 inset, 0 1px 5px rgba(0, 0, 0, .2);
    box-shadow: 0 0 0 1px #B73D25 inset, 5px 0 0 #B73D25 inset, 0 1px 5px rgba(0, 0, 0, .2);
}

.btQuoteBooking .btContactFieldMandatory.btContactFieldError .dd.ddcommon.borderRadiusTp .ddTitleText {
    -webkit-box-shadow: 0 0 0 1px #B73D25 inset, 5px 0 0 #B73D25 inset, 0 1px 5px rgba(0, 0, 0, .2);
    box-shadow: 0 0 0 1px #B73D25 inset, 5px 0 0 #B73D25 inset, 0 1px 5px rgba(0, 0, 0, .2);
}

.btQuoteBooking .btSubmitMessage {
    color: #B73D25;
}

.btDatePicker .ui-datepicker-header {
    background-color: #B73D25;
}

.btQuoteBooking .btContactSubmit {
    font-family: "Raleway";
    background-color: #B73D25;
    border: 1px solid #B73D25;
}

.btQuoteBooking .btContactSubmit:hover {
    color: #B73D25;
}

.btPayPalButton:hover {
    -webkit-box-shadow: 0 0 0 #B73D25 inset, 0 1px 5px rgba(0, 0, 0, .2);
    box-shadow: 0 0 0 #B73D25 inset, 0 1px 5px rgba(0, 0, 0, .2);
}

#btSettingsPanel #btSettingsPanelToggler:before {
    color: #B73D25;
}

#btSettingsPanel h4 {
    background-color: #B73D25;
}

#btSettingsPanel .btSettingsPanelRow.btAccentColorRow .trigger, #btSettingsPanel .btSettingsPanelRow.btAccentColorRow select {
    border-color: #B73D25;
}

#btSettingsPanel .btSettingsPanelRow.btAlternateColorRow .trigger, #btSettingsPanel .btSettingsPanelRow.btAlternateColorRow select {
    border-color: #FF7F00;
}

.wp-block-button__link:hover {
    color: #B73D25 !important;
}

